body {
  background-image: url("./backgroundHome.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
}
.texteHome {
  width: 750px;
  margin-left: 150px;
  margin-top: 110px;
}
.texteHome h1 {
  background: #ffffff;
  background: -webkit-radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  background: -moz-radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #ffffff 40%,
    #cf1c00 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.5rem;
}
.texteHome p {
  font-size: 1.5rem;
  margin-left: 100px;
  color: aliceblue;
}
.exitt {
  color: #fffdfd;
}
.videoHome {
  font-size: 100px;
  margin-left: 450px;
  background: #fffdfd;
  background: -webkit-radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  background: -moz-radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  background: radial-gradient(
    ellipse farthest-corner at center center,
    #fffdfd 63%,
    #e3360b 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: flex-end;
}
.quitter {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 450px;
}
.videoAcceuil {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 500px;
}
.quitter {
  color: white;
  position: relative;
  left: 500px;
}

/* Deuxieme Page///////////////////////////////////////////////////////////////////////////////////////////////////////// */

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.secondPage {
  margin-top: 113px;

  font-family: "Times New Roman", Times, serif;
}
.titleSecond {
  position: relative;
  top: 20px;
  margin-left: 60px;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.containerCard {
  position: relative;
  top: 10px;
  padding: 50px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card {
  height: 400px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.card:hover {
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.card .img {
  height: 300px;
  width: 100%;
}
.card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text {
  padding: 5px;
}
.card .top-text .name {
  font-size: 25px;
  font-weight: 600;
  color: #202020;
}
.card .top-text p {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text {
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.card:hover .bottom-text {
  opacity: 1;
  visibility: visible;
}
.card .bottom-text .text {
  text-align: justify;
}
.card .bottom-text .btn {
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a {
  text-decoration: none;
  background: #e74c3c;
  color: #f2f2f2;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.card .bottom-text .btn a:hover {
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .containerCard {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .card {
    max-width: 700px;
    margin: 20px 0;
  }
}
/* Troisieme Page////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.containerContact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../pages/bkContact.jpg");
  background-size: cover;
}

.containerContact .contactHeader {
  max-width: 800px;
  text-align: center;
}

.containerContact .contactHeader h1 {
  font-size: 36px;
  font-weight: 500;
  color: #f2f2f2;
}

.containerContact .contactHeader p {
  font-weight: 400px;
  color: #fffdfd;
}

.contactBody {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactBody .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.box {
  position: relative;
  padding: 0px 0px;
  display: flex;
}

.box .icon {
  min-width: 60px;
  height: 60px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

.box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 16px;
  color: #f2f2f2;
  font-weight: 500;
}

.box a {
  text-decoration: none;
}

.text p {
  position: relative;
  bottom: 30px;
}

.text h3 {
  font-weight: 600;
  color: #00c2f3;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #ffffff;
  margin-left: 100px;
}

.contactForm h2 {
  font-size: 30px;
  color: rgb(255, 81, 0);
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin: 10px;
  margin-bottom: 20px;
}

.inputBox input,
textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-bottom: solid 2px black;
  outline: none;
  resize: none;
}

.inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px;
  pointer-events: none;
  transition: 1s;
  color: #cf1c00;
}

.inputBox input :focus ~ span,
.inputBox input :valid ~ span {
  color: brown;
  font-size: 12px;
  transform: translateY(-20px);
}

.send {
  width: 50;
  background: #00c2f3;
  color: #fffdfd;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 28px;
}
/* Quatriemme Page //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.container4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card4 {
  margin-top: 250px;
  margin-bottom: 100px;
  width: 350px;
  height: 500px;
  box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
  perspective: 1000px;
}

.inner-box {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(6, 19, 158, 0.8), rgba(28, 1, 90, 0.8)),
    url(../pages/cardBk.png);
  padding: 55px;
  box-sizing: border-box;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.card-front h2 {
  font-weight: normal;
  font-size: 34px;
  text-align: center;
  margin-bottom: 20px;
  color: #f2f2f2;
}

.input-box {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 6px 0;
  height: 32px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  text-align: center;
  color: #fff;
}

::placeholder {
  color: rgb(150, 147, 147);
  font-size: 12px;
}

button {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  margin: 35px 0 10px;
  height: 32px;
  font-size: 12px;
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.card-front span{
  color:rgb(153, 184, 212) ;
}

.submit-btn{
  position: relative;
}
.submit-btn::after{
  content: '\27a4';
  color: #333;
  line-height: 32px;
  font-size: 17px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  right: -1px;
  top:-1px;
}

.card4 .btn{
  margin-top: 70px;
}

.card4 a {
  color: #cffd00;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 13px;
  margin-top: 8px;
}